@charset "utf-8";
#contact {
    width: 1135px;
    margin-left: auto;
	padding-left:25px;
    margin-right: auto;
    overflow-x: hidden;
    overflow-y: hidden;
}
#contact .formContainer {
	padding-right: 50px;
	margin-left:-50px;
    width: 500px;
    float: right;
}
#contact label {
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif"
}
#contact .formContainer h3 {
    margin-left: 20px;
    margin-top: -5px;
    margin-bottom: -5px;
}
#contact form {
    padding-top: 20px;
}
#contact .formContainer div {
    margin-top: 10px;
    margin-bottom: 10px;
}
#contact label {
    width: 100px;
    margin-top: 8px;
    position: absolute;
    text-align: right;
}
#contact input, select {
    width: 300px;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    padding-left: 8px;
    padding-top: 6px;
    padding-bottom: 6px;
    position: relative;
    left: 110px;
    font-size: 1em;
}
#contact textarea {
    width: 300px;
    height: 150px;
    padding-left: 8px;
    padding-top: 6px;
    padding-bottom: 6px;
    position: relative;
    left: 110px;
    font-size: 1em;
    resize: none;
}
#contact .submit input {
    width: 100px;
}
